body {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    font-family: Lato,sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #181a1f;
}
button:focus, input[type='submit']:focus, input[type='reset']:focus {
    outline: none;
}
.site-header {
    margin-bottom: 0px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}
button, input[type='submit'], input[type='reset'] {
    border-radius: 0;
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    //font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    max-width: 100%;
    padding: 5px 20px 6px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 3px solid;
    box-shadow: none;
}
.top-panel .search-form__submit:active, .top-panel .search-form__submit:focus, .top-panel .search-form__submit:hover {
    box-shadow: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
div{
    display: block;
}
label {
    cursor: default;
	display: block;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .not-found .page-title {
    color: #181a1f;
}
a:hover {
    color: #d28881;
}
a:hover, a:active {
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}

a{
    //-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;
    padding-right:30px;
}
.container.site-header, .container.site-footer {
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
}
.home .site-header {
    margin-bottom: 0;
}
.container{
	width:100%;
}
.container .top-panel {
    padding-right: 0;
    padding-left: 0;
}
.top-panel {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0.625rem 13px;
    font-size: 15px;
    //font-size: 0.9375rem;
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
}
.top-panel__message {
    padding: 0 0 10px;
    color: #7a7a7a;
}
.top-panel__message .info-block:first-child {
    margin-top: 0;
}
.top-panel__message .info-block {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 1.5em;
    display: inline-block;
}
.top-panel .search-form {
    position: relative;
    width: 120px;
    display: inline-block;
    vertical-align: top;
}
.search-form {
    margin: 0;
    padding: 0;
}
.top-panel__message+.top-panel__search {
    position: relative;
}
.screen-reader-text{
	clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.top-panel .search-form__field[type='search'] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 15px;
    //font-size: 0.9375rem;
    line-height: 25px;
    color: #7a7a7a;
    font-style: normal;
    font-weight: normal;
    width: 90px;
    height: 25px;
    max-width: none;
    padding: 0;
    border: none;
    border-bottom: 1px solid transparent;
}

.top-panel .search-form__field[type='search']:focus, .top-panel .search-form__field[type='search']:hover {
    box-shadow: none;
     width: 350px;
    border-bottom: 1px solid #e9e9e9;
	outline: none;
}


.top-panel .search-form__field {
    background-color: #ffffff;
}
.search-form__field[type='search'] {
    float: left;
    box-sizing: border-box;
    //width: calc(100% - 52px);
    //max-width: 250px;
}

.top-panel .search-form__submit {
    color: #181a1f;
}
.top-panel .search-form__submit:hover {
    color: #d28881;
    background-color: transparent;
}
.top-panel .search-form__submit:active, .top-panel .search-form__submit:focus, .top-panel .search-form__submit:hover {
    box-shadow: none;
}
.top-panel .search-form__submit:hover {
    background: none;
}
.top-panel .search-form__submit {
    float: right;
    width: auto;
    height: 25px;
    border: none;
    padding: 0;
    margin: -5px 5px 0 10px;
    background-color: transparent;
}
.btn, .btn-primary {   
    background: transparent;
}
.btn, .submit {
    font-family: Lato,sans-serif;
    font-weight: 400;
}

@media (max-width: 768px){
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1rem;	
		padding-right: 1rem;
	}
	.top-panel__search {
		padding-top: 16px;
		
	}
	.top-panel .search-form__field[type='search']:focus, .top-panel .search-form__field[type='search']:hover {
		width: calc(100% - 30px);
		border: none;
	}
	.top-panel .search-form__field[type='search'] {
		position: static;
    }
	.top-panel .search-form__field[type='search'] {
		position: static;
		width: calc(100% - 30px);
		border: none;
	}
	.top-panel .search-form {
		margin-right: 5px;
		margin-left: 5px;
		width: 100%;
	}
	.top-panel__message+.top-panel__search:before {
		content: '';
		position: absolute;
		height: 1px;
		width: 203%;
		left: -100%;
		top: 0;
		background-color: #e9e9e9;
	}
	.search-form:after {
    display: block;
    clear: both;
    width: 100%;
    content: '';
	}
}
//header-container

.container .header-container {
    padding-right: 0;
    padding-left: 0;
}
.header-container {
    background-color: #ffffff;
    background-image: url();
    background-repeat: repeat;
    background-position: center top;
    background-attachment: scroll;
}
.site-header.centered .site-branding {
    padding: 25px 0 4px;
}
.site-logo {
	text-align:center;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
	font-family: 'Six Caps',sans-serif;
}
.site-logo__link, .site-logo__link:hover {
    color: #181a1f;
}
.site-logo__link {
    letter-spacing: 5px;
}
.site-logo__link {
    text-decoration: none;
    line-height: 1;
    //letter-spacing: 1px;
    text-transform: uppercase;
}
.site-header.centered .main-navigation {
    padding: 18px 0 26px;
}
.header-container .main-navigation {
    padding: 10px 0 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
.main-navigation {
    display: block;
    clear: both;
    width: 100%;
}
.main-navigation ul {
    
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.menu{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.menu li{
	float:left;
	list-style:none;
}
.main-navigation li {
    position: relative;
    text-align: left;
}
.main-navigation li a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    color: #181a1f;
}
.main-navigation>.menu>li {
    padding: 0 15px;
    margin: 0;
}
.main-navigation a {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.site-header.centered .main-navigation .sub-menu {
    padding-top: 19px;
}
.main-navigation>.menu>li>.sub-menu {
    left: 50%;
    margin-left: -6em;
}
.main-navigation .sub-menu li:first-child {
    border: none;
}
.main-navigation .sub-menu li {
    border-color: rgb(255,255,255);
    background-color: rgb(255,255,255);
}
.main-navigation .sub-menu li.menu-item-has-children::after {
    top: 0.55em;
    content: '\f105';
}
.main-navigation>.menu>li:first-child:before {
    content: none;
}
.main-navigation li::after {
    position: absolute;
    top: 1em;
    right: 10px;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    //font-size: 1.125rem;
}
.site-header.centered .main-navigation .sub-menu .sub-menu {
    padding-top: 0;
}
.main-navigation .sub-menu li.menu-item-has-children a {
    padding-right: 20px;
}
.main-navigation>.menu>li:before {
    content: none;
    position: absolute;
    visibility: hidden;
    top: 1px;
    left: 0;
    content: '/';
    font-size: 17px;
    line-height: 14px;
}
.main-navigation ul li:hover > a{
	 color: #d28881;
}
.main-navigation .menu>li>a:hover, .main-navigation .menu>li.menu-hover>a, .main-navigation .menu>li.current_page_item>a, .main-navigation .menu>li.current_page_ancestor>a, .main-navigation .menu>li.current-menu-item>a, .main-navigation .menu>li.current-menu-ancestor>a {
    color: #d28881;
}
.main-navigation .sub-menu>li>a:hover, .main-navigation .sub-menu>li.menu-hover>a, .main-navigation .sub-menu>li.current_page_item>a, .main-navigation .sub-menu>li.current_page_ancestor>a, .main-navigation .sub-menu>li.current-menu-item>a, .main-navigation .sub-menu>li.current-menu-ancestor>a {
    color: #d28881;
}
.main-navigation .sub-menu a {
    font-size: 12px;
    //font-size: 0.75rem;
}
.menu-toggle {
    font-style: normal;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    color: #181a1f;
}
.menu-toggle {
    font-size: 20px;
    //font-size: 1.25rem;
    line-height: 1;
    padding: 0 0 5px;
    border: none;
    background: none;
}
@media (min-width: 768px){
	
	.main-navigation .sub-menu a {
		padding: 0.9em 0.4em;
		display: block;
	}
	.main-navigation li li:hover>ul, .main-navigation li li.menu-hover>ul {
		top: 0;
		left: 100%;
	}
	.main-navigation li:hover>ul, .main-navigation li.menu-hover>ul {
		top: 100%;
		left: 0;
		visibility: visible;
		opacity: 1;
	}
	.main-navigation li li>ul.in-transition {
		left: 100%;
	}
	.main-navigation>.menu>li:before {
		visibility: visible;
	}
	.main-navigation .sub-menu li {
		width: 12em;
	}
	.main-navigation .sub-menu li {
		//border-top: 1px solid;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.main-navigation .sub-menu {
		position: absolute;
		z-index: 999;
		top: 120%;
		left: -999em;
		visibility: hidden;
		margin: 0;
		-webkit-transition: 200ms linear;
		transition: 200ms linear;
		-webkit-transition-property: top,opacity,visibility;
		transition-property: top,opacity,visibility;
		opacity: 0;
	}
	.main-navigation>.menu>li>a {
		position: relative;
	}
	.main-navigation a {
		padding: 0;
	}
	.main-navigation .menu-toggle {
		display: none;
	}
	.site-header .header-container .main-navigation {
		-webkit-transition: top 0.75s ease;
		transition: top 0.75s ease;
		top: -100px;
	}
	.top-panel__search {
		float: right;
		text-align: left;
		//padding-top: 4px;
	}
	.top-panel__message {
		padding: 0;
		float: left;
	}
}
@media (max-width: 767px){
	.main-navigation ul ul ul a {
		text-indent: 2rem;
	}
	.sub-menu-open{
		display:block;
	}
	.main-navigation ul ul a {
		text-indent: 1rem;
	}
	.main-navigation .menu .menu-item .sub-menu {
		margin-left: -0.625rem;
		margin-right: -0.625rem;
	}
	.main-navigation .menu {
		margin-left: -0.955rem;
		margin-right: -0.955rem;
	}
	.main-navigation .menu .menu-item .sub-menu .menu-item {
		border-bottom: 1px solid;
	}
	.main-navigation .menu .menu-item .sub-menu {
		padding-top: 0!important;
		border-top: 1px solid;
	}
	.main-navigation ul ul a {
		text-indent: 1rem;
	}
	.main-navigation .sub-menu li.menu-item-has-children::after {
		top:none;
		content: '';
	}
	.main-navigation .menu .menu-item.menu-item-has-children .sub-menu-toggle.active:before {
		content: '\f106';
	}
	.main-navigation .menu .menu-item.menu-item-has-children>.sub-menu {
		display: none;
	}
	.main-navigation .menu .menu-item.menu-item-has-children.sub-menu-open>.sub-menu {
		display: block;
	}
	.main-navigation .menu .menu-item a {
		padding: 16px 0;
	}
	.site-header.centered .main-navigation .sub-menu {
		 padding-top:0;
	}
	.menu li{
		float:none;
		
		list-style:none;
	}
	.main-navigation .menu .menu-item.menu-item-has-children .sub-menu-toggle:before {
		content: "\f107";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 22px;
		//font-size: 1.375rem;
		line-height: 50px;
	}
	.main-navigation .menu .menu-item.menu-item-has-children .sub-menu-toggle {
		cursor: pointer;
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		text-align: center;
		z-index: 2;
	}
	.main-navigation .menu .menu-item.menu-item-has-children>.sub-menu {
		display: none;
	}
	.main-navigation .menu .menu-item {
		padding: 0 0.625rem;
		//border-top: none;
		border-bottom: 1px solid;
		text-align: left;
	}
	.main-navigation .menu .menu-item, .main-navigation .menu .menu-item .sub-menu {
		border-color: #181a1f;
	}
	.main-navigation .menu .menu-item:first-child {
		border-top: 1px solid;
	}
	.main-navigation.toggled ul {
		display: block;
	}
	.main-navigation ul {
		display:none;
	}
	
	.main-navigation>.menu>li>.sub-menu {
		left: 0;
		margin-left: 0;
	}
}
@media (min-width: 992px){

	.main-navigation>.menu>li {
		padding: 0 27px;
	}
}
@media (min-width: 1200px){
	.container, .isStuck #main-menu {
		max-width: 1788px;
	}
	.header-container__flex {
		flex-wrap: nowrap;
	}
	.container {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
}