.breadcrumbs {
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.breadcrumbs__title {
    border-color: #d28881;
}
.breadcrumbs__items {
    float: left;
}
.breadcrumbs__wrap {
    float: left;
    //margin: 0;
}
.breadcrumbs__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0px;
}
.breadcrumbs__item {
    float: left;
}
.breadcrumbs__item-sep {
    color: #181a1f;
}
.breadcrumbs__item-sep {
    margin: 0 .4em;
}
.breadcrumbs__item-target {
    color: #d28881;
}
.tm_pb_section {
    position: relative;
    //background-color: #fff;
}
.tm_pb_column {
    background-size: cover;
    background-position: center;
}
.tm_pb_link_box_0.tm_pb_link_box {
    background-color: #feede9;
    margin-bottom: 60px!important;
}
.tm_pb_link_box {
    font-size: 0!important;
}
.tm_pb_link_box {
    position: relative;
}
.tm_pb_link_box .tm_pb_link_box_wrap {
	position: relative;
    padding: 0;
    text-align: center;
}
.tm_pb_link_box .tm_pb_link_box_wrap figure {
    opacity: .4;
    //-webkit-transition: all 0.48s ease;
    transition: all 0.48s ease;
}
.tm_pb_link_box .tm_pb_link_box_wrap img {
    display: block;
}
.tm_pb_module img {
    max-width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    border-radius: 0;
}
.tm_pb_link_box .tm_pb_link_box_content {
    padding: 65px 15px 80px;
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    //-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    //-webkit-flex-wrap: wrap;
    //-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    //-webkit-justify-content: center;
    //-ms-flex-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.tm_pb_link_box .tm_pb_link_box_wrap:hover .tm_pb_link_box_content:before {
    left: 0;
    width: 100%;
    height: 1px;
    //-webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.tm_pb_link_box .tm_pb_link_box_wrap:hover .tm_pb_link_box_content:after {
    margin-left: -25px;
    width: 55px;
    height: 5px;
    //-webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.tm_pb_link_box .tm_pb_link_box_content:before {
    content: '';
    //-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
}
.tm_pb_link_box .tm_pb_link_box_content:after {
    content: '';
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
}
.tm_pb_link_box .tm_pb_link_box_wrap:hover figure {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.tm_pb_link_box_1.tm_pb_link_box {
    background-color: #fefee9;
    margin-bottom: 60px!important;
}
.tm_pb_link_box_2.tm_pb_link_box {
    background-color: #e9ffea;
    margin-bottom: 60px!important;
}
.tm_pb_link_box_3.tm_pb_link_box {
    background-color: #e9fdfe;
    margin-bottom: 0px!important;
}
.tm_pb_link_box_4.tm_pb_link_box {
    background-color: #feede9;
    margin-bottom: 0px!important;
}
.tm_pb_link_box_5.tm_pb_link_box {
    background-color: #fefee9;
    margin-bottom: 0px!important;
}
.container.site-content .container {
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
}
.tm_pb_link_box_content:after {
    background-color: #181a1f;
}
.tm_pb_link_box .tm_pb_link_box_content:before{
	 background-color: #181a1f;
}
@media (min-width: 992px){
	.breadcrumbs__wrap {
		margin: .25em 0;
	}
	.breadcrumbs__title {
		float: left;
		border-right: 1px solid;
		border-bottom: none;
		margin-right: 1.5em;
		padding-right: 1.5em;
	}
}

.site {
	overflow: hidden;
}