/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Feb-2017, 09:52:23
    Author     : thinh
*/
.box-control-table a{
    cursor: pointer;
}
.box-control-table{
    display: block;
    min-height: 25px;
}
.control-table{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.table-blog tr:hover .control-table{
    visibility: visible;
    opacity: 1;
}
.box-img{
    position: relative;
    margin-top: 15px;
}
.checkbox_img{
    position: absolute;
    top:0;
    right: 20px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.status-upload{
    color: red;
    display: none;
}
.box-img-rep{
    margin-top: 37px;
}
#load_screen{
			z-index:100;
			width:100%;
			height:100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;	
			background:#fff;
                        display: none;
}
#loading{
			width:50px;
			height:50px;
			border-radius: 50%;
			border: 3px solid #EFEFEF;
			border-top-color: blue;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			animation:round 2s linear infinite;
                        display: none;
		}
		@keyframes round{
			from{transform:rotate(0deg)}
			to{transform:rotate(360deg)}
		}