/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2016, 4:09:44 PM
    Author     : dunglt1
*/
#start-point{
    width: 50% !important;
    margin: 0 auto;
    margin-bottom: 10px;
}
#content-setting-exchange{
    width: 100%;
    height: calc(100% - 75px);
    overflow: auto;
}
#setting-exchange-footer{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    height: 68px;
    border-top: 1px solid #ccc;
    text-align: center;
}
#setting-exchange-footer button{
    margin: 10px;
}
#setting-exchange-content{
    width: 800px;
    margin: 20px auto 0;
    text-align: center;    
}
#setting-exchange-content h4{
    color: #3C8DBC;
    margin: 0;
    height: 40px;   
    line-height: 40px;
}
#setting-exchange-collect-pt{
    margin-top: 30px;
}
.setting-exchange-item h4{    
    background-color: rgba(204,204,204,0.5);
    border-bottom: 1px solid #ccc;
}
.setting-exchange-item{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.setting-exchange-item > div{
    height: 40px;
    line-height: 40px;
}
#setting-exchange-content img{
    cursor: pointer;
}
#setting-exchange-rew-pt input{
    width: 100%;
}
#setting-exchange-rew-pt-input{
    width: 60%;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}