
.report-employee-detail{
    cursor: pointer;
}
#news_table_wrapper > div{
    line-height: 40px;
}
.bootstrap-select > .dropdown-toggle {
    height: 40px;
}
.title-time-report{
    line-height: 40px;
    text-align: right;
    font-size: 16px;
}
.selectpicker{
    height: 40px;
}
.repcontent-main{
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 10px;
}
.repcontent-main-header {
    width: 100%;
    background-color: #FFFFFF;
    height: 48px;
    line-height: 48px;
}
.repcontent-main-header-v2{
    width: 100%;
    background-color: #FFFFFF;
    height: 70px;
    line-height: 48px;
    padding-top: 10px;
}
.repcontent-main-header .repcontent-main-header-left, .repmain-control .repmain-control-left{
    width: 50%;
    float: left;
}
.repcontent-main-header-left-ver2{
    padding-left: 0;
}
.repcontent-main-header-right-ver2{
    padding-right: 20;
}
.repcontent-main-header-left .labeltext, .repmain-control-left .labeltext{
    width: 100%;
    float: left;
    font-weight: 700;
}
.repcontent-main-header-right .labeltext{
    width: 100%;
    padding-right: 10px;
    font-weight: 700;
}
.repcontent-main-header-right .labeltext a{
    float: right;
    line-height: 40px;
    color: #333;
}
/*.repcontent-main-header select{
    width: 35% !important;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}
.repmain-control-left select{
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}*/
.repmain-control-left input{
    width: 60% !important;
    font-weight: 400;
    margin-left: 10px;
}
.repcontent-main-header .repcontent-main-header-right{
    width: 50%;
    height: 48px;
}
.repcontent-main-header-right button{
    height: 40px;
    padding: 5px 8px;
    margin-left: 5px;
    margin-right: 5px;
}
.repcontent-main-header-right input{
    width: 25% !important;
    text-align: center;
    font-weight: 400;    
    margin-right: 5px;
}
.repcontent-main-header-right .loc{
    width: 10%;
    font-weight: 500;
    background-color: #ffc000;
    margin-right: 0px;
    color: #5f4b7d;
    border: 0px;
}
.repmain-title{
    display: table;
    line-height: 48px;
    width: 100%;
    text-align: center;
    position: relative;
}
.repmain-control{
    margin-right: 20px;
}
.repmain-control.income-report{    
    margin-top: 10px; 
}
.rep{
    font-weight: bold;
    line-height: 25px;
    padding-right: 20px;
    right: 0;
    top: 10px;
    width: 30%;
    float: right;
}
.rep > div{
    color: #e91e63;
    text-align: right;
    margin-right: 10px; 
    font-size: 20px;   
}
.repmain-chart{
    width: 100%;
    height: -moz-calc(100% - 96px);
    height: -webkit-calc(100% - 96px);
    height: calc(100% - 96px);
}
.repmain-list{
    width: 100%;
    height: 76%;
}
.repmain-list-detail{
    width: 100%;
    height: 80%;
}
.btn-float-right{     
    padding: 2px 20px 0px 10px; 
    margin-bottom: 10px; 
    margin-top: 10px;  
    float: right;
    font-weight: 500;
    height: 40px;
    background-color: #ffc000;
    color: #333;
    border: 0px;
    width: 169px;
}
.repmain-table{    
    padding-left: 10px;
    padding-right: 10px;
    height: -moz-calc(100% - 68px);
    height: -webkit-calc(100% - 68px);
    height: calc(100% - 68px);
}
.repmain-table-detail{
    padding-left: 80px;
    padding-right: 80px;
    height: 100%;
}
#tbl-report-income thead{
    background:#EEEEEE;
}
#tbl-report-income thead tr th{
    color: #5F4B7E;
}

.repmain-list table{
    width: 100%;
}
.repmain-list table th, .repmain-list-detail table th{
    padding: 14px !important;
    border: none !important;
    height: 40px;
    color: #5f4b7e;
    background-color: #eceaed;
}
.repmain-list-detail table tbody tr{
    cursor: pointer;
}
.repmain-list-detail table tbody ul{
    list-style-image: url(../../imagesource/icon/ico_bullet.png);
    height: 40px;
    padding: 0px;
    list-style-position: inside;
    vertical-align: middle;    
}
.child{
    border-top: none !important;
    
}
.child .scroll{
    overflow-y: auto;
}
.repmain-list-detail .nolist{
    list-style: none;
}
.repmain-table-detail .collapse.in{
    display: table-row;
}
.repmain-list table td,.repmain-list-detail table td{
    /*padding: 14px !important;*/
}
.repmain-list table tbody{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.repmain-control-left span{
    font-size: 14px;
}
.repmain-title .titleemp{
    line-height: 35px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #5F4B7E
}
.repmain-title .dayemp{ 
    line-height: 25px;
    font: regular;
    font-size: 18px;
    color: #424242;
    text-align: center;

}
.repmain-title-detail .dayemp{   
    text-align: center;
    line-height: 0;
    font-weight: 400;
}
.repmain-title-detail .titlename{
    color: #5F4B7D;
    font-weight: 500;
    line-height: 21px;
}
.repmain-title-detail .titleday{
    color: #424242;
    font-weight: 500;
    line-height: 22px;
}
.ico_checkbox{
    display: inline-block;    
    height: 24px;
    width: 24px;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../imagesource/icon/checkbox.png) center no-repeat;
}
.ico_checkbox:active{
    display: inline-block;    
    height: 24px;
    width: 24px;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../imagesource/icon/checkbox_ticked.png) center no-repeat;
}
.repmain-title-detail{    
    text-align: center;
    color: #5F4B7D;
}
.repmain-title-detail > div{
    font-size: 18px;
}
.back-to-report-page{
    left: 90px;
    position: absolute;
    top: 15%;
}
@media (max-width: 1280px){
    .ico_reward_punish{    
        text-indent: 30px;
    }    
    .repmain-list table th, .repmain-list-detail table th{
        padding: 10px !important;
    }
}
.modal-body-left{
    width: 80%;
    float: left;
    border-right: 1px solid #c4c4c4;
}
.modal-body-left .repmain-left{
    width: 100%;    
    height: 100%;
    padding: 10px;
}
.modal-body-right{
    width: 20%;
    float: right;
}
.modal-body-right .btncontrol{
    height: 40px;
    padding: 5px 8px;
    width: 55%;
    font-weight: 500;
    background-color: #ffc000;
    margin-right: 0px;
    color: #5f4b7d;
    border: 0px;
}
.modal-body-right .fst{
    margin-left: 22%;
    margin-top: 85%;
}
.modal-body-right .snd{
    margin-left: 22%;
    margin-top: 10px;
}
.reptablepopup{
    clear: both;
    border-bottom: 1px solid #c4c4c4;
    max-height: 250px;
    overflow: scroll;
}
.modal-footer .control{
    height: 21%;
    text-align: center;
    font-weight: 500;
    color: #5f4b7d;    
    padding: 10px;
}
.control span{
    cursor: pointer;
}
.reptablepopup table{
    color: #5f4b7d;
}
.repu-more{
    cursor: pointer;
}
div[data-dismiss="modal"]{
    cursor: pointer;
}
.repu-sub-menu{
    width: 115px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding:10px;
    position: absolute; 
    right: 20px;
    width: 120px;
    display: none;    
    z-index: 1;
}
.repu-sub-menu-edit{
    margin-bottom: 10px;
    padding-left: 40px;
    background: url(../../imagesource/icon/ico_table_edit.png) no-repeat;
    background-position: left;
    cursor: pointer;
}
.repu-sub-menu-delete{
    padding-left: 40px;
    background: url(../../imagesource/icon/ico_table_delete.png) no-repeat;    
    background-position: left;
    cursor: pointer;
}
.mnu-header-main{
    position:relative;
}
.group-menu-right > div{   
    float: right;
    height: 48px;
    width: 20%;
}
.group-menu-right .header-sub-menu{
    right: 0;
    top:48px;
}
.group-menu-right .header-sub-menu-item{
    min-width: 100px;
}
.header-sub-menu-item > ul{
    background-color: #5f4b7d;    
}
.header-sub-menu{
/*    display: none;
    position:absolute;
    z-index: 99;*/
    background-color: #5f4b7d;
}
.header-sub-menu-item{    
/*    position:relative;
    min-width: 180px;    */
}
.header-sub-menu-item-child{       
    /*display: none;*/
    background-color: #5f4b7d;
/*    left: 200px;
    min-width: 180px;
    position: absolute;
    top: 0;*/
}
#tbl-report-salary tbody tr{
    cursor: pointer;
}

#apply-limited-money:not(:checked) + label {
    opacity: 0.4 !important;
}
#tbl-report-salary tbody tr td.not-apply-lmt{
    opacity: 0.4 !important;
}
.repmain-title .report-title-header{
    font-weight: bold;
    font-size: 20px;
    color: #5F4B7E;
}
#tbl-report-income{
    border-color: #EDEDE0;
}
#btn-report-today{
    background: linear-gradient(#FAFAFA, #ECECEC);
    border-color: #CDCDCD;
    opacity: 1;
}
#chart_payment{
    width:90%;
    height: 650px;
    margin-left: 30px; 
    margin-bottom: 100px;
}
.btn-print-salary{
    border: solid 2px #ffc000;
    width: 130px !important;
    height: 40px !important; 
    padding-left: 35px;
    background-image: url("../../imagesource/icon/ico_report_print.png");
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
/*.btn-eezz{
    color:#604A7B;
    background: #FFB10A;
    width: 118px;
    height: 30px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
}*/
.btn-eezz:hover{
    opacity: 0.5;
}
#tbl-report-salary thead{
    background:#EEEEEE;
}
#tbl-report-employee thead{
    background:#EEEEEE;
}
.down{
    background: url(../../imagesource/icon/ico_down.png) no-repeat center center;
    cursor: pointer;
}
.up {
    background: url(../../imagesource/icon/up.png) no-repeat center center;
}