
html {
    overflow-y: scroll;
}
.container {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
}
.tt-menu, .gist {
    text-align: left;
}
html {
    color: #292f33;
    font: 18px/1.2 "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
}
a {
    color: #03739c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.table-of-contents li {
    display: inline-block;
}
.table-of-contents li a {
    color: #999;
    font-size: 16px;
}
p + p {
    margin: 30px 0 0;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.example-name {
    font-size: 32px;
    margin: 20px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 12px 0;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}
#multiple-datasets .league-name {
    border-bottom: 1px solid #ccc;
    margin: 0 20px 5px;
    padding: 3px 0;
}
#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}
#rtl-support .tt-menu {
    text-align: right;
}